@charset "UTF-8";
/*Todo el fondo*/
* {
  background-color: white;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
}

.chica {
  display: grid;
  align-content: flex-end;
  justify-content: right;
  width: 100%;
  margin-top: 5%;
  margin-left: 11%;
  overflow: hidden;
  z-index: 1;
}

.mancha {
  display: grid;
  align-content: flex-end;
  justify-content: right;
  width: 100%;
  margin-top: 5%;
  margin-left: 11%;
  overflow: hidden;
  z-index: -1;
}

.loguito {
  align-content: left;
}

/*Colores del primer título y subtitulo*/
.subtitle {
  color: red;
  text-transform: uppercase;
}

.tit {
  color: #181e4b;
}

.sinpadding {
  padding: 0px;
  margin: 0px;
}

.titulo {
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 5%;
  width: 80%;
  background-color: transparent;
}

/*Cartas con */
.cartas {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.cartas-1 {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: stretch;
}

.cartas-viajes {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.lista {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.derecha {
  text-align: left;
  margin-bottom: 5%;
}

.izquierda {
  text-align: left;
}

/**/
.fotin {
  width: 50%;
}

.foti {
  width: 50%;
}

.lista {
  padding: 5%;
  margin: 5%;
}

.fotin {
  height: 30%;
}

/*comentarios*/
.comentarios {
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}

/*marcas*/
.marcas {
  margin-top: 5%;
  margin-bottom: 5%;
  display: row;
  align-content: stretch;
}

/*suscripción*/
.suscripcion {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.suscribe {
  color: #9495ad;
}

/*footer*/
.foot {
  margin-top: 5%;
}

.footer-list {
  list-style: none;
  margin: 0%;
}

/*fotitos de mic y radar etc*/
.radar-mic-fotitos {
  align-content: center;
  width: 30%;
}

.nav-link:hover {
  color: orange;
}

.barra {
  position: absolute;
  top: 0;
  width: 100%;
  float: left;
  background-color: transparent;
}

/*.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}*/
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  margin-left: 10%;
}

.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 13px 18px;
  border-radius: 60px;
  font-size: 15px;
  text-align: center;
}

.costum {
  width: 50%;
}

.iconitos {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  text-align: center;
  font-size: 12px;
}

.iconitos {
  width: 40px;
  height: 40px;
  padding: 13px 18px;
  font-size: 15px;
  text-align: center;
}

.iconitos-foto {
  width: 40px;
  height: 40px;
  font-size: 15px;
  text-align: center;
}

/*
.amarillo{
    background-color: #f0bb1f ;
    border: 0px;
} */
.naranja {
  background-color: #f15a2b;
  border: 0px;
}

.azul {
  background-color: #006380;
  border: 0px;
}

.botonimagen {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 1rem;
  align-self: flex-start;
}

/*# sourceMappingURL=style.css.map */
